@mixin inline-block() {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

// Variables
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Montserrat", sans-serif;
$brand-primary: #ffe600;
$brand-black: #1e1e1e;
$brand-white: #ffffff;
$brand-body-text-color: #1e1e1e;

$screen-lg: inherit;
$screen-md: inherit;
$screen-sm: inherit;
$screen-xs: inherit;

// Text size
$font-11: 0.74rem;
$font-12: 0.8rem;
$font-15: 1rem;
$font-20: 1.34rem;
$font-30: 2rem;
$font-60: 4rem;
