@import "custom-settings";

html {
  overflow-x: hidden;
  font-size: 0.8vw;
}

body {
  background: $brand-white;
  color: $brand-body-text-color;
  font-family: $font-primary;
}

.container {
  width: 60%;
  @media (max-width: 800px) {
    width: 70%;
  }
  @media (max-width: 500px) {
    width: 80%;
  }
}

// Typography
h1,
h2,
h3,
h4,
p {
  color: $brand-black;
  text-align: left;
}

h1 {
  font-size: $font-60;
  font-weight: 800;
  margin-bottom: 3rem;
}

h2 {
  font-size: $font-30;
  font-weight: bolder;
}

h3 {
  font-size: $font-12;
  text-transform: uppercase;
  font-weight: bolder;
}

p {
  font-size: $font-12;
}

a {
  color: $brand-body-text-color;
  font-weight: 500;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: $brand-body-text-color;
  }
}
p,
a,
.btn {
  @media (max-width: 800px) {
    font-size: 10px;
  }
}

//elementos

.cabecera {
  margin-top: 6em;
  margin-bottom: 3em;
  P {
    width: 100%;
    margin: 3em inherit;
  }
}

img {
  opacity: 1;
  width: -moz-available;
}

//nav/

.probootstrap-header {
  width: 100%;
  z-index: 4;
  display: inline-block;
  background-color: $brand-white;
  display: -webkit-box;
  padding: 2em 0 0;
  position: fixed;
}

.logo {
  float: left;
  width: 10%;
}

.probootstrap-nav {
  float: right;

  @media screen and (max-width: $screen-sm) {
    float: none;
    display: inline-block;
    text-align: center;
  }
}

.probootstrap-main-nav {
  float: right;
  padding: 1rem 0 0 0;
  li {
    margin: 0;
    padding: 0 0 0 4rem;
    list-style: none;
    display: inline;
    font-size: $font-15;
    a {
      transition: 0.75s all;
      &:hover {
        color: $brand-primary;
      }
    }
  }
}

.margin {
  height: 15rem;
  margin-top: 0;
}

//COVER

.aligned {
  display: flex;
  .centered {
    margin: auto 0;
  }
}

.textos {
  clear: left;
  line-height: 1.5em;
  margin-bottom: 2rem;
}

@media screen and (max-width: $screen-sm) {
  margin: 0 auto;
  float: left;
  display: contents;
  padding: 1em;
}

//section
.probootstrap-section {
  position: relative;
  z-index: 2;
  margin-bottom: 6rem;

  @media screen and (max-width: $screen-sm) {
    margin: 0 3em;
  }
}

//portfolio

//filtros--

.filters {
  padding: 0 0 3rem 0;
  display: flex;

  .tabs {
    display: flex;
    padding-left: 0;

    li {
      margin: 0 2rem 0 0;
      padding: 1rem;
      list-style: none;
      text-transform: uppercase;
      font-size: $font-12;

      &:hover {
        transition: 1s all;
        box-shadow: none;
        color: $brand-black;
        background-color: $brand-primary;
      }
    }
  }
}

//dropdown menu--

.dropdown {
  position: relative;
  display: block;
  float: right;
  &:hover .dropbtn {
    background-color: $brand-primary;
  }
  &:active .dropdown-content,
  &:focus .dropdown-content,
  &:focus-within .dropdown-content {
    display: block;
  }
}

.dropbtn {
  font-size: $font-12;
  border-radius: 0;
  border: none;
  background-color: $brand-white;
  padding: 1rem;
  text-transform: uppercase;
  &:hover {
    background-color: $brand-primary;
    transition: 1s all;
  }
  @media (max-width: 800px) {
    font-size: 12px;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 100%;
  float: right;
  transition: 2s all;
  a {
    display: block;
    text-align: right;
    font-size: $font-12;
    color: $brand-black;
    padding: $font-12 $font-15;
    background-color: $brand-white;
    &:hover {
      background-color: $brand-primary;
    }
  }
}

.btn-secondary {
  background-color: $brand-white;
  font-size: $font-12;
  color: $brand-black;
  float: right;
  a {
    display: block;
  }
}

//gallery

.gallery-column {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;

  .media {
    margin-bottom: 1rem;
    position: relative;
    display: inline-block;

    &:hover {
      .overlay {
        opacity: 0.85;
      }
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: $brand-primary;

  .title {
    margin-top: 30%;
    text-align: center;
    text-transform: uppercase;
    font-size: $font-30;
    font-weight: bolder;
  }

  .category {
    margin-top: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-size: $font-12;
    font-weight: bold;
  }
}

.show-me-more {
  display: flex;

  .btn {
    margin: 2rem auto;
  }
}

//partners
.partners {
  opacity: 0.5;
}

//about
.about-person {
  margin-bottom: 15px;
  @media (max-width: 800) {
    width: 45%;
  }
}

.about-card {
  position: absolute;
  bottom: 0;
  left: auto;
  width: moz-available;
  background-color: $brand-primary;
  text-transform: capitalize;
  padding: 1rem 2rem;

  .names {
    font-weight: bolder;
  }
  .job-position {
    font-size: 0.8em;
    color: $brand-white;
  }
}

//blog

//contact

.form-control {
  color: $brand-black;
  border: 1px solid $brand-white;
  box-shadow: inset 0 1px 1px $brand-white;
  -webkit-box-shadow: inset 0 1px 1px $brand-white;
  padding: 2px;
  margin: 2px 0;
  &:focus {
    border: 1px solid $brand-black;
    -webkit-box-shadow: inset 0 0 0px 0px;
    box-shadow: inset 0 0px 0px;
    transition: border-color ease-in-out 1s;
  }
}

.contact {
  display: flex;
  text-align: center;
  margin: 2em auto;
  float: none;
  span {
    margin: 0 auto;
    font-size: $font-12;
    padding: 1rem;
    @media (max-width: 500px) {
      font-size: 3rem;
    }
    .icon {
      font-size: $font-30;
      margin: 1rem;
      color: $brand-primary;
      -webkit-text-stroke: 1px $brand-black;
      @media (max-width: 500px) {
        font-size: 6rem;
      }
    }
  }
}
.social {
  display: block;
  text-align: center;
  margin: 2em auto;
  float: none;
  a {
    padding: 2rem;
    font-size: $font-30;
    @media (max-width: 500px) {
      font-size: 6rem;
    }
  }
}

//footer

.probootstrap-footer {
  background-color: $brand-black;
  .footer {
    color: $brand-white;
    font-size: $font-11;
    height: 14rem;
    display: flex;
    @media (max-width: 800px) {
      height: min-content;
    }
    .copyright {
      margin: auto 0;
      display: inline;
      img {
        filter: invert(88%);
        width: 25%;
        float: left;
        @media (max-width: 800px) {
          width: 25%;
        }
      }
      p {
        color: $brand-white;
        font-size: $font-11;
        margin: 4rem 10rem;
        @media (max-width: 800px) {
          font-size: 8px;
          margin: 4rem;
          text-align: center;
        }
      }
    }
    .back-to-top {
      margin: auto 0;
      a {
        color: $brand-white;
        font-size: $font-11;
        float: right;
        margin-right: 0;
      }
    }
  }
}

// Components

.btn-primary {
  color: $brand-black;
  background-color: $brand-primary;
  border: none;
  border-radius: 0;
  float: left;
  text-transform: uppercase;
  padding: 1rem 2rem;
  margin-top: 2rem;
  &:hover,
  &:active,
  &:focus,
  &:active:hover {
    color: $brand-body-text-color;
    background-color: $brand-primary;
  }
  a {
    transition: font-weight 0s ease-in;
    color: $brand-body-text-color;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      color: $brand-body-text-color;
      font-weight: 600;
    }
  }
}

// animate
.probootstrap-animate {
  opacity: 0;
  visibility: hidden;
}
